@import "../styles/var.module";
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
/* End Fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $magnolia;
  background-image: url("../../public/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
}