@import "../styles/var.module";
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
/* End Fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $magnolia;
  background-image: url("../../public/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
}

.pText {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  font-size: 1.6rem;
  color: $cool-gray;
}

.h2Title {
  font-size: 2.4rem;
  color: $marine-blue;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-size: 2.4rem;
    color: $marine-blue;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: .8rem;


    p {
      font-size: 1.6rem;
      color: $cool-gray;
    }
  }
}