@import "../styles/var.module";

.main{
    display: flex;
    flex-direction: column;
}
.indicatorsContainer{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.cardContainer{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

.buttonsContainer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
}