@import "../styles/var.module";

.main{
    display: flex;
    flex-direction: column;
}
.indicatorsContainer{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.cardContainer{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsContainer{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}