@import "../../styles/var.module";

.card{
    width: 90vw;
    background-color: $white;
    padding: 3rem 2rem 3rem 2rem;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
}