@import "../../styles/var.module";

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    border: 1px solid $white;
    padding: 1rem;
    border-radius: 50%;
    color: $white;
    font-weight: bold;
}

.buttonSelected {
    background-color: $light-blue;
    color: $purplish-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border: 1px solid $white;
    padding: 1rem;
    border-radius: 50%;
    font-weight: bold;
}