@import "../../../../styles/var.module.scss";

.selectButton {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 8rem;
    padding-left: 2rem;
    background-color: transparent;
    border: 1px solid $light-gray;
    border-radius: 10px;

    &:hover {
        border: 1px solid $purplish-blue;
        cursor: pointer;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;

        h3 {
            color: $marine-blue;
        }

        p {
            color: $cool-gray;
        }


    }

    .popUpText {
        text-align: right;
        flex-grow: 1;
        font-size: 1.3rem;
        padding-right: 2rem;
        color: $marine-blue;
    }
}

.selected {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 8rem;
    padding-left: 2rem;
    border: 1px solid $purplish-blue;
    border-radius: 10px;
    background-color: $magnolia;

    &:hover {
        cursor: pointer;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;

        h3 {
            color: $marine-blue;
        }

        p {
            color: $cool-gray;
        }

    }

    .popUpText {
        text-align: right;
        flex-grow: 1;
        font-size: 1.3rem;
        padding-right: 2rem;
        color: $marine-blue;
    }
}